@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(
    -45deg,
    #140f2d,
    #3b136b,
    #5b21b6,
    #1e1b4b
  );

  background-size: 400% 400%;

  animation: gradientMove 18s ease infinite;
}

@keyframes float {
  0%,100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}
/* ==================================
   PREMIUM SCROLLBAR
================================== */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255,255,255,0.03);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb {

  background: linear-gradient(
    180deg,
    rgba(168,85,247,0.9),
    rgba(217,70,239,0.9)
  );

  border-radius: 999px;

  border: 2px solid transparent;

  background-clip: padding-box;

}

::-webkit-scrollbar-thumb:hover {

  background: linear-gradient(
    180deg,
    rgba(192,132,252,1),
    rgba(232,121,249,1)
  );

}

::-webkit-scrollbar-corner {
  background: transparent;
}