@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(
    -45deg,
    #140f2d,
    #3b136b,
    #5b21b6,
    #1e1b4b
  );

  background-size: 400% 400%;

  animation: gradientMove 18s ease infinite;
}

@keyframes float {
  0%,100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}
